<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mingyuan.bangbang.mapper.OrderMapper">
    <insert id="publishOrder">
        insert into order_info(publish_userid, receive_userid, o_title, o_content, o_photourl, o_money,o_publishtime,o_accepttime,o_endtime,o_fintime,o_requiretime,locate,o_state)
        values(#{orderInfo.publishUserid},#{orderInfo.receiveUserid},#{orderInfo.oTitle},
               #{orderInfo.oContent},#{orderInfo.oPhotourl},#{orderInfo.oMoney},
               #{orderInfo.oPublishtime},#{orderInfo.oAccepttime},#{orderInfo.oEndtime},
               #{orderInfo.oFintime},#{orderInfo.oRequiretime},#{orderInfo.locate},#{orderInfo.oState})
    </insert>
    <update id="updateOrder">
        update order_info set
        <if test="orderInfo.publishUserid != null">
            publish_userid=#{orderInfo.publishUserid},
        </if>
        <if test="orderInfo.receiveUserid != null">
            receive_userid=#{orderInfo.receiveUserid},
        </if>
        <if test="orderInfo.oTitle != null">
            o_title=#{orderInfo.oTitle},
        </if>
        <if test="orderInfo.oContent!=null">
           o_content=#{orderInfo.oContent},
        </if>
        <if test="orderInfo.oPhotourl!=null">
            o_photourl=#{orderInfo.oPhotourl},
        </if>
        <if test="orderInfo.oMoney!=null">
            o_Money=#{orderInfo.oMoney},
        </if>
        <if test="orderInfo.oPublishtime!=null">
            o_Publishtime =#{orderInfo.oPublishtime},
        </if>
        <if test="orderInfo.oAccepttime!=null">
            o_Accepttime =#{orderInfo.oAccepttime},
        </if>
        <if test="orderInfo.oEndtime!=null">
            o_Endtime =#{orderInfo.oEndtime},
        </if>
        <if test="orderInfo.oFintime!=null">
            o_Fintime =#{orderInfo.oFintime},
        </if>
        <if test="orderInfo.oRequiretime!=null">
            o_Requiretime =#{orderInfo.oRequiretime},
         </if>
        <if test="orderInfo.locate!=null">
            locate =#{orderInfo.locate},
        </if>
        <if test="orderInfo.oState!=null">
            o_State =#{orderInfo.oState},
        </if>
        o_id=#{orderInfo.oId}
        where o_id=#{orderInfo.oId};
    </update>
    <update id="cCancelOrder">
        update order_info set receive_userid = null where o_id = #{orderInfo.oId};
    </update>
    <delete id="deleteOrder">
        delete from order_info where o_id = #{oId};
    </delete>

    <select id="getOrderInfos" resultType="com.mingyuan.bangbang.pojo.OrderInfo">
        SELECT * FROM order_info where o_state = 100;
    </select>
    <select id="getOrderInfo" resultType="com.mingyuan.bangbang.pojo.OrderInfo">
        SELECT * FROM order_info where o_id = #{oId}
    </select>
    <select id="getMyPublishOrder" resultType="com.mingyuan.bangbang.pojo.OrderInfo">
        SELECT * FROM order_info where publish_userid = #{unionid}
    </select>
    <select id="getMyReceiveOrder" resultType="com.mingyuan.bangbang.pojo.OrderInfo">
        SELECT * FROM order_info where receive_userid = #{unionid}
    </select>
</mapper>